@using Mooshak2.ViewModels
@model LoginInfo
<!--Here we use the _Login layout from the Shared directory-->
@{
	Layout = "~/Views/Shared/_Masterpage.cshtml";
}
@{
	ViewBag.Title = "Log In";
}


@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin login" }))
{
	@Html.ValidationSummary(true, "Login failed. Check your login details");
	<fieldset>

		<!--<legend>Login Form</legend>-->

		<img src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />

		<div>
			@Html.TextBoxFor(p => p.Username, new { @class = "form-control login", placeholder = "Username" })
			@Html.ValidationMessageFor(p => p.Username)
		</div>

		<div>
			@Html.TextBoxFor(p => p.Password, new { @class = "form-control login", placeholder = "Password", type = "password" })
			@Html.ValidationMessageFor(p => p.Password)
		</div>

		<input type="submit" value="Log In" class="btn btn-success login" id="theSubmitButton" />

	</fieldset>

}

@if (Model.UserDidNotGetLoggedIn)
{
	<p>Wrong username or password</p>
}
