@model Mooshak2.ViewModels.AdminViewModel

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}
@{
    ViewBag.Title = "Admins";
}

<header class="navbar navbar-static-top">
	<div class="container">

		<div class="row">

			<div class="col-xs-6">
				<img class="pull-left" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />
			</div>

			<div class="col-xs-6 text-center">
				<!-- <img href="https://mooshak.dcc.fc.up.pt/logos/mooshak.gif" /> -->
				<h5 class="">Notendanafn</h5>
				<button class="btn btn-primary" id="logout" href="/?dis=yes">Log out</button>
			</div>
		</div>

	</div>

</header>
<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs">
				<li>@Html.ActionLink("Users", "Index", "Admin")</li>
				<li class="active" >@Html.ActionLink("Courses", "Courses", "Admin")</li>
			</ul>
		</div>
	</div>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<h3>Link Users To Course</h3>
			<div class="container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#home">Teachers</a></li>
					<li><a data-toggle="tab" href="#menu1">Students</a></li>
				</ul>

				<div class="tab-content">
					<div id="home" class="tab-pane fade in active">
						@using (Html.BeginForm("LinkTeacher", "Admin", FormMethod.Post, new { @class = "no-border", id = "linkForm", }))
						{
							@Html.LabelFor(Model => Model.Teachers)
							@Html.DropDownListFor(Model => Model.TeacherID, Model.Teachers, "Choose...", new { @class = "form-control" })

							@Html.LabelFor(Model => Model.Courses)
							@Html.DropDownListFor(Model => Model.CourseID, Model.Courses, "Choose...", new { @class = "form-control", id = "TCourse" })

							<input type="submit" id="linkBtnT" value="Link" />
						}
					</div>
					<div id="menu1" class="tab-pane fade">
						<div class="col-md-4">
							@using (Html.BeginForm("LinkStudent", "Admin", FormMethod.Post, new { @class = "no-border", id = "linkForm", }))
							{
								@Html.LabelFor(Model => Model.Students)
								@Html.DropDownListFor(Model => Model.StudentID, Model.Students, "Choose...", new { @class = "form-control" })

								@Html.LabelFor(Model => Model.Courses)
								@Html.DropDownListFor(Model => Model.CourseID, Model.Courses, "Choose...", new { @class = "form-control", id = "SCourse" })

								<input type="submit" id="linkBtnS" value="Link" />
							}
						</div>
					</div>
					<div id="menu2" class="tab-pane fade">
						<h3>Menu 2</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>