@model Mooshak2.ViewModels.AdminViewModel

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@{
    ViewBag.Title = "Admins";
}


<header class="navbar navbar-static-top">
	<div class="container">

		<div class="row">
			<div class="col-xs-6">
				<img class="pull-left" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />
			</div>
			<div class="col-xs-6 text-center">
				<!-- <img href="https://mooshak.dcc.fc.up.pt/logos/mooshak.gif" /> -->
				<h5 class="">Notendanafn</h5>
				<button class="btn btn-primary" id="logout" href="/?dis=yes">Log out</button>
			</div>

		</div>

	</div>
</header>




<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs">
				<li class="active">@Html.ActionLink("Users", "Index", "Admin")</li>
				<li>@Html.ActionLink("Courses", "Courses", "Admin")</li>
			</ul>
		</div>
	</div>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<h3>Notendur</h3>
			<div class="row">
				<div class="col-md-4">
					@using (Html.BeginForm("Register", "Admin", FormMethod.Post, new { @class = "no-border", id = "assignmentForm" }))
					{
						@Html.LabelFor(Model => Model.Name)
						@Html.TextBoxFor(Model => Model.Name)
						<br />
						@Html.LabelFor(Model => Model.Username)
						@Html.TextBoxFor(Model => Model.Username)
						<br />
						@Html.LabelFor(Model => Model.Password)
						@Html.PasswordFor(Model => Model.Password)
						<br />
						@Html.DropDownListFor(Model => Model.UserTypeID, Model.UserTypes, "Choose...", new { @class = "form-control" })

						@Html.DropDownListFor(Model => Model.CourseID, Model.Courses, "Choose...", new { @class = "form-control"})

					<input type="submit" id="registerForm" value="Register" />

					}
				</div>

				</div>
				<div class="col-md-4">
					<table>
						<thead>
							<tr>
								<th>@*@Html.DisplayNameFor(Model => Model.Name)*@</th>
							</tr>
						</thead>
						<tbody>
							@*@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
								</tr>
							}*@
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
