@*@model IEnumerable<Mooshak2.ViewModels.TeacherViewModel>*@
@model Mooshak2.ViewModels.AssignmentViewModel

@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@{
    ViewBag.Title = "Teachers";
}
<nav class="navbar navbar navbar-static-top" id="sidebar">
    <img class="glyphicon-align-center" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="60" width="60" />
    <div class="text-center">
        <h5>Teacher Name</h5>
        <button class="btn btn-primary" id="logout" onclick="location.href='/?dis=yes'">Útskrá</button>
    </div>
</nav>

<div class="container " id="main">
	<!-- row #1 : Tabs -->
	<div class="row">
		<div class="col-sm-12">

			<ul class="nav nav-tabs">
				<li>
					<a data-toggle="tab" href="#settings">Settings</a>
				</li>
				<li>
					<a data-toggle="tab" href="#studentList">Student List</a>
				</li>
			</ul>

		</div>
	</div>
	<!-- row #2 : Tabed Content-->
	<div class="row">
		<div class="col-sm-12">

			<div class="tab-content">

				<div id="settings" class="tab-pane fade in active" > <!-- Tab #1 : START -->

					<h3>Settings</h3>
					@using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { id = "assignmentForm" }))
					{
						@Html.ValidationSummary(true, "Choose Course Create a Assignment For");

						@Html.DropDownListFor(Model => Model.CourseID, Model.Courses, "Choose...", new { @class = "form-control", required = "" })
						@Html.ValidationMessageFor(Model => Model.CourseID);

						@Html.TextBoxFor(Model => Model.Name, new { @class = "form-control", placeholder = "Assignment 1", required = "" })
						@Html.ValidationMessageFor(Model => Model.Name);

						<label for="assignmentStart">Assignment Starts</label>
						<input type="datetime-local" id="assignmentStart" class="form-control" placeholder="9/9/1999" />
						<br />
						<label for="assignmentEnd">Assignment Ends</label>
						<input type="datetime-local" id="assignmentEnd" class="form-control" placeholder="9/9/1999" />
						<br />
						<label for="allowGroups">Allow Groups</label>
						<input type="checkbox" id="allowGroups" value="allowGroups" onclick="validate()" />
						<br />
						<select name="groupSize" id="groupSize" disabled>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
						<br />
						<label for="NumOfSubmission">Number of Submissions</label>
						<input type="checkbox" id="NumOfSubmission" value="NumOfSubmission" onclick="validate()" />
						<br />
						<select name="submissionNumber" id="submissionNumber" disabled>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
							<option value="60">60</option>
							<option value="70">70</option>
							<option value="80">80</option>
							<option value="90">90</option>
							<option value="100">100</option>
						</select>
						<br />
						<lable>Assignment Parts</lable>
						<br />
						<select name="assignmentParts" id="assignmentParts">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<br />
						<input type="button" id="btnSave" value="Create" />
					}
					<!--TODO: Code for dynamic display of Solution picks and project descriptions.-->

				</div> <!-- Tab #1 : END -->

				<div id="studentList" class="tab-pane fade"> <!-- Tab #2 : START -->
					
					<h3>Student List</h3>
						@*<table>
								<thead>
									<tr>
										<th>
											@Html.DisplayNameFor(Model => Model.Name)
										</th>
										<th>
											@Html.DisplayNameFor(Model => Model.Username)
										</th>
										<th>
											@Html.DisplayNameFor(Model => Model.Group)
										</th>
										<th>
											@Html.DisplayNameFor(Model => Model.Submission)
										</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.Name)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Username)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Group)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Submission)
											</td>
										</tr>
									}
								</tbody>
						</table>*@
				</div> <!-- Tab #2 : END -->
			
			</div>

		</div>
	</div> 

</div>
