@model IEnumerable<Mooshak2.ViewModels.TeacherViewModel>

@{
	Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@{
	ViewBag.Title = "Teacher - Student List";
}


<header class="navbar navbar-static-top">

	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<img class="pull-left" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="100" width="100" />
			</div>
			<div class="col-xs-6 text-center">
				<h5>name here</h5>
				<!-- <h5 class=""><span id="whoIsLoggedIn"></span></h5> -->
				<button class="btn btn-primary" id="logout" onclick="location.href='/?dis=yes'">Log out</button>
			</div>
		</div>
	</div>

</header>

<div class="container page-main">
	<!-- row #1 : Tabs -->
	<div class="row">
		<div class="col-sm-12">

			<ul class="nav nav-tabs">
				<li>
					@Html.ActionLink("Settings", "Index")
				</li>
				<li class="active">
					@Html.ActionLink("Student Link", "StudentList", null, new { @class = "active" })
				</li>
			</ul>

		</div>
	</div>
	<!-- row #2 : Tabed Content-->
	<div class="row">
		<div class="col-sm-12">

			<div class="tab-content">
				<div id="studentList">
					<!-- Tab #2 : START -->

					<h3>Student List</h3>
					<table>
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(Model => Model.Name)
								</th>
								<th>
									@Html.DisplayNameFor(Model => Model.Username)
								</th>
								<th>
									@Html.DisplayNameFor(Model => Model.Group)
								</th>
								<th>
									@Html.DisplayNameFor(Model => Model.Submission)
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Name)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Username)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Group)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Submission)
									</td>
								</tr>
							}
							<tr>
								<td id="Name">

								</td>
							</tr>
						</tbody>
						</table>
				</div> <!-- Tab #2 : END -->
			</div>
		</div>
	</div>
</div>



