@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Students.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar navbar-static-top" id="sidebar">
        <img class="glyphicon-align-center" src="~/Content/Pictures/hr.gif" alt="hrlogo" height="60" width="60" />
        <div class="text-center">
            <h5>Admin Name</h5>
            <button class="btn btn-primary" id="logout" onclick="location.href='/?dis=yes'">Logout</button>
        </div>
    </nav>
    <div class="col-sm-12 page-main">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Users", "Index", "Admin")</li>
            <li>@Html.ActionLink("Courses", "Courses", "Admin")</li>
        </ul>
    </div>
        
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
